
.card-header .row .col-md-6 .nav-link{
	
	font-size:70px
}
.pad::after,.{
	font-size:70px;
	content:"|";
	color:#868e96}

.navbar .navbar-brand,.navbar .nav-link
{
	color:rgba(255,255,255,.5)!important;
}
@media (max-width: 992px) { 
	.pad::after{
	font-size:40px;
	content:"|";
	color:#6c757d;
	}	
.card-header .row .col-md-6 .nav-link{
	font-size:40px;
}	
}	
	@media (max-width: 375px) { 
	.card-header .row .col-md-6 .nav-link{
	font-size:20px;
		}
	.pad::after,.pad1::before{
	font-size:20px;
	content:"|";
	color:#6c757d;
	}					
}
.img-thumbnail{
    width: 195px !important;
    height: 195px !important;
}

