<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Profile</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link rel="stylesheet" href="homepage.css">


  </head>
  <body>
    <!-- Start Upper Bar -->
	
    <div class="upper-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm text-center text-sm-left">
			<img src="img/defaultUser.png" class="rounded-circle" height="60px" width="0px">
            <i class="fa fa-envelope-o"></i> faisal@User
          </div>
        </div>
      </div>
    </div>
    <!-- End Upper Bar -->
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span class="text-white-50">Homepage</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" 
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Hand Made</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Computers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cell Phones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tools</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
	<!--  Homepage Form -->
<section class="create-form bg-light">	
	  <div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<h1 class="text-title text-secondary text-center px-0">My profile</h1>
				<div class="card border border-primary border-bottom-muted">
					<div class="card-header bg-primary py-0">
						<div class="row">
							<div  class="col col-md-12">
								<p  class="text-title text-white justify-content-left">My Information</p>
							</div>	
							
						</div>
					</div>
						<div class="card-body bg-white border-bottom-muted">
							<div class="container">
								<div class="row bg-light my-2">
									<div class="col-md-2 pt-2">
										<p class="text-title">Login Name</p>
									</div>
									<div class="col-md-10 pt-2">
										<p class="text-title">:faisal</p>
									</div>
								</div>
								<div class="row my-2">							
									<div class="col-md-2 pt-2">
										<p class="text-title ">Email</p>
									</div>
									<div class="col-md-10 pt-2">
										<p class="text-title">:faisal@gmail.com</p>
									</div>
								</div>
								<div class="row bg-light my-2">
									<div class="col-md-2 pt-2">
										<p class="text-title">Registered Date</p>
									</div>
									<div class="col-md-10 pt-2">
										<p class="text-title">:2018-10-10</p>
									</div>
								</div>
								<div class="row my-2 pt-2">
									<div class="col-md-2 pl-0">
										<a class="btn btn-white border border-muted">Edit Information</a>
									</div>
								</div>								
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
</section>	
	<!-- Homepage Form-->
    <!-- End Footer -->
    <!-- Start Copyright -->
    <div class="copyright py-5 my-5 bg-danger">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center text-sm-left text-uppercase">
            Copyright 2017 EliteCorp &copy;
          </div>
          <div class="col-sm-6 text-center text-sm-right">
            <ul class="list-unstyled">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Copyright -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

