<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Item</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link rel="stylesheet" href="homepage.css">


  </head>
  <body>
    <!-- Start Upper Bar -->
	
    <div class="upper-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm text-center text-sm-left">
			<img src="img/defaultUser.png" class="rounded-circle" height="60px" width="0px">
            <i class="fa fa-envelope-o"></i> faisal@User
          </div>
        </div>
      </div>
    </div>
    <!-- End Upper Bar -->
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span class="text-white-50">Homepage</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" 
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Hand Made</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Computers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cell Phones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tools</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
	<!--  Homepage Form -->
	<section class="create-form bg-light">	
	  <div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<h1 class="text-title text-secondary text-center px-0">Item Name</h1>
				<div class="card bg-light border-0">	
				
					<div class="card-body border-0 bg-light">
							<div class="container">
								<div class="row my-3">
									<div class="col-md-4">
										<img class="img-thumbnail" src="img/defaultUser.png" alt="Card image cap" height="350px" width="270px">
									</div>
									<div class="col-md-8">
									
										<div class="row my-2">
											<div class="col-md-12 pt-2">
												<h3 class="text-title">Item Name</h3>
											</div>
											<div class="col-md-12 pt-2">
												<p class="text-title">Item Description</p>
											</div>
										</div>
										
										<div class="row bg-secondary my-2">
											<div class="col-md-2 pt-2">
												<p class="text-title">Added Date</p>
											</div>
											<div class="col-md-10 pt-2">
												<p class="text-title">:2016-10-10</p>
											</div>
										</div>
										
										<div class="row my-2">							
											<div class="col-md-2 pt-2">
												<p class="text-title ">price</p>
											</div>
											<div class="col-md-10 pt-2">
												<p class="text-title">:70</p>
											</div>
										</div>
										
										<div class="row bg-secondary my-2">
											<div class="col-md-2 pt-2">
												<p class="text-title">Made In</p>
											</div>
											<div class="col-md-10 pt-2">
												<p class="text-title">:USA</p>
											</div>
										</div>
										
										<div class="row my-2">							
											<div class="col-md-2 pt-2">
												<p class="text-title ">Category</p>
											</div>
											<div class="col-md-10 pt-2">
												<a class="nav-link p-0" href="">:Category</a>
											</div>
										</div>
										<div class="row my-2 bg-secondary">							
											<div class="col-md-2 pt-2">
												<p class="text-title">Added By</p>
											</div>
											<div class="col-md-10 pt-2">
												<a class="nav-link p-0" href="">:Username</a>
											</div>
										</div>
									</div>
								</div>	
								<div class="row border py-2 my-2" style="border-left:0px !important;border-right:0!important;" >
									<div class="col-md-12">
										<a class="nav-link d-inline pr-1" href="">Login</a>or<a class="nav-link d-inline px-1" href="">Signup</a>To Add Comment
									</div>
								</div>
						</div><!-- car-body -->
						
					</div>
				</div>
			</div>
		</div>
	</section>	
	<!-- Homepage Form-->
    <!-- End Footer -->
    <!-- Start Copyright -->
    <div class="copyright py-5 my-5 bg-danger">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center text-sm-left text-uppercase">
            Copyright 2017 EliteCorp &copy;
          </div>
          <div class="col-sm-6 text-center text-sm-right">
            <ul class="list-unstyled">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Copyright -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

